$brand-primary: #000;
$brand-secondary: #00796B;
$badge-default-bg: $brand-secondary;
$navbar-padding-x: 0;
$navbar-padding-y: 0;
$link-color: $brand-primary;
$link-decoration: underline;
$link-hover-color: lighten($link-color, 30%);
$link-hover-decoration: underline;