@import 'shared.scss';

@each $theme, $map in $themes {
  .#{$theme} {
    background: map-get($map, background);
    color: map-get($map, color);
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2.4rem 2rem 0 2rem;
}

.clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
}

.timebox-toggle-container {
  display: flex;
  justify-content: center;
  margin-bottom: 3.2rem;
}

.theme-switch {
  margin-bottom: 3.2rem;
  height: 1.2rem;

  @each $theme, $map in $themes {
    .#{$theme} & {
      background: map-get($map, colorSwitcher);
    }
  }
}
