@import 'shared.scss';

@each $theme, $map in $themes {
  .#{$theme} {
    background: map-get($map, background);
    color: map-get($map, color);
  }
}

.sound-selection-container {
  position: absolute;
  top: 5vw;
  right: 5vw;
}

.clock-container {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  padding-top: 30vh;
  @include tablet {
    padding-top: 30vh;
  }
  @include desktop {
    padding-top: 26vh;
  }
  @include big {
    padding-top: 26vh;
  }
}

.timebox-toggle-container {
  display: flex;
  justify-content: center;
  margin-bottom: 8vh;
}

.logo-container {
  display: flex;
  justify-content: center;
  height: 7vh;
}

.logo-ia {
  height: 16px;
  @each $theme, $map in $themes {
    .#{$theme} & {
      fill: map-get($map, colorClock);
    }
  }
  @include tablet {
    height: 24px;
  }
  @include desktop {
    height: 24px;
  }
  @include big {
    height: 32px;
  }
}
