@import 'shared.scss';

.nudge {
  cursor: pointer;
  @include mobile {
    height: 3.2rem;
  }
  @include tablet {
    height: 3.2rem;
  }
  @include desktop {
    height: 3.2rem;
  }
  @include big {
    height: 4.2rem;
  }
  path {
    @each $theme, $map in $themes {
      .#{$theme} & {
        stroke: map-get($map, colorClock);
      }
    }
  }
  polygon {
    @each $theme, $map in $themes {
      .#{$theme} & {
        fill: map-get($map, colorClock);
      }
    }
  }
  text {
    @each $theme, $map in $themes {
      .#{$theme} & {
        fill: map-get($map, colorClock);
      }
    }
  }
}
