@import 'shared.scss';

.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  left: 0;
  top: 0;
  @each $theme, $map in $themes {
    .#{$theme} & {
      background: map-get($map, background);
    }
  }
  overflow: hidden;
  transition: 0.5s;
}

.sound-item {
  padding: 1.6rem;
  text-transform: uppercase;
  cursor: pointer;
  @include mobile {
    line-height: 4.4rem;
  }
  @include tablet {
    line-height: 4.4rem;
  }
  @include desktop {
    line-height: 4.4rem;
  }
  @include big {
    line-height: 4.4rem;
  }
}

.sound-item-value {
  display: none;
}

.sound-item-value:checked + label {
  @each $theme, $map in $themes {
    .#{$theme} & {
      color: map-get($map, colorFocus);
    }
  }
  font-weight: 800;
}

.overlay-close-container {
  @include mobile {
    margin-top: -5vh;
    margin-bottom: 5vh;
  }
  @include tablet {
    margin-top: -20vh;
    margin-bottom: 20vh;
  }
  @include desktop {
    margin-top: -20vh;
    margin-bottom: 20vh;
  }
  @include big {
    margin-top: -20vh;
    margin-bottom: 20vh;
  }
}

.overlay-close {
  cursor: pointer;
  @include mobile {
    height: 24px;
  }
  @include tablet {
    height: 48px;
  }
  @include desktop {
    height: 48px;
  }
  @include big {
    height: 48px;
  }
  .overlay-close-g {
    @each $theme, $map in $themes {
      .#{$theme} & {
        fill: map-get($map, color);
      }
    }
  }
}

.overlay-content {
  text-align: center;
}

.sound-selection-toggle {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  @include mobile {
    // TODO
    font-size: 3rem;
    line-height: 3rem;
  }
  @include tablet {
    // TODO
    font-size: 3rem;
    line-height: 3rem;
  }
  @include desktop {
    font-size: 3rem;
    line-height: 3rem;
  }
  @include big {
    font-size: 3rem;
    line-height: 3rem;
  }
  .sound-selection-toggle-icon {
    margin-left: 1vw;
    height: 1vh;
    g {
      @each $theme, $map in $themes {
        .#{$theme} & {
          fill: map-get($map, color);
        }
      }
    }
  }
}

.color-focus:hover,
.color-focus:focus {
  transition: 0.3s;
  @each $theme, $map in $themes {
    .#{$theme} & {
      color: map-get($map, colorFocus);
    }
  }
}
