.timebox-event-emitter {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  /* disable text selection via swiping */
  user-select: none;

  /* disable browser handling of all panning and zooming gestures */
  touch-action: none;

  outline: none;
}
