@import 'shared.scss';

.timebox-toggle-icon {
  height: 6rem;
  width: 6rem;
  circle {
    @each $theme, $map in $themes {
      .#{$theme} & {
        stroke: map-get($map, colorClock);
      }
    }
  }
  rect {
    @each $theme, $map in $themes {
      .#{$theme} & {
        fill: map-get($map, colorClock);
      }
    }
  }
  polygon {
    @each $theme, $map in $themes {
      .#{$theme} & {
        fill: map-get($map, colorClock);
      }
    }
  }
}
