@import "../../styles/shared";

.picker-item {
  position: relative;
  padding: 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Roboto Condensed";

  @include mobile {
    font-size: 2rem;
    line-height: 2rem;
  }
  @include tablet {
    font-size: 3rem;
    line-height: 3rem;
  }
  @include desktop {
    font-size: 3rem;
    line-height: 3rem;
  }
  @include big {
    font-size: 3rem;
    line-height: 3rem;
  }
}
