@import 'shared.scss';

html {
  height: 100vh;
  width: 100vw;
  font-size: 62.5%;
}

body {
  font-family: 'LatoLatin', sans-serif;
  font-size: 1.8rem;
  @include tablet {
    font-size: 3.6rem;
  }
  @include desktop {
    font-size: 3.6rem;
  }
  @include big {
    font-size: 3.6rem;
  }
}

@font-face {
  font-family: 'LatoLatin';
  src: url('./fonts/LatoLatin-Regular.eot');
  src: local('LatoLatin'),
    url('./fonts/LatoLatin-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/LatoLatin-Regular.woff2') format('woff2'),
    url('./fonts/LatoLatin-Regular.woff') format('woff'),
    url('./fonts/LatoLatin-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
