@import 'shared.scss';

html {
  height: 100vh;
  width: 100vw;
  font-size: 62.5%;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  @include tablet {
    letter-spacing: 0.3rem;
    font-size: 3.6rem;
  }
  @include desktop {
    letter-spacing: 0.3rem;
    font-size: 3.6rem;
  }
  @include big {
    letter-spacing: 0.3rem;
    font-size: 3.6rem;
  }
}

@font-face {
  font-family: 'BebasNeue';
  src: local('BebasNeue'),
    url('./fonts/BebasNeue.eot') format('embedded-opentype'),
    url('./fonts/BebasNeue.eot?#iefix') format('embedded-opentype'),
    url('./fonts/BebasNeue.woff2') format('woff2'),
    url('./fonts/BebasNeue.woff') format('woff'),
    url('./fonts/BebasNeue.ttf') format('truetype');
}

@font-face {
  font-family: 'ArchivoNarrow';
  src: local('ArchivoNarrow'),
    url('./fonts/ArchivoNarrow.eot') format('embedded-opentype'),
    url('./fonts/ArchivoNarrow.eot?#iefix') format('embedded-opentype'),
    url('./fonts/ArchivoNarrow.woff2') format('woff2'),
    url('./fonts/ArchivoNarrow.woff') format('woff'),
    url('./fonts/ArchivoNarrow.ttf') format('truetype');
}
